#Bolder{
    color: white;
    font-size: 50px;;
    font-weight: bolder;
    line-height: 40px;
}

#Bold{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
}

#normal{
    color: white;
    font-size: 20px;
    padding: 10px;
    line-height: 25px;
}